<div align="center">
  <%=stylesheet_link_tag "info", media: 'all'%>
<div id="style">
<h3>Canary works with<br>
 your insurer
 </div>
</h3>
</div>


<div class="textposition">
  <h5>Start Saving Today.</h5>
  Like insurance, Canary gives you peace of mind.<br>
  Thats why we partner with leading insurance<br>
  providers to extend our commitment to protecting<br>
  you and your home-all at a discount.<br>
</div>

<div class="alignposition">
<%=image_tag('statefarm.png')%> <%=image_tag('allstate.png', :size => '150x60')%> <%=image_tag('liberty.png', :size => '150x60')%><br>
</div>

<div class="alignposition2">
You may be eligble for a discount on your insurance<br>
premium simply for using Canary in your home.
</div>

<div class="linktext">
  Check your eligability and start saving today >
</div>

  <div class="pictureone">
    <%=image_tag('familyone.png', :size => '600x400')%>
</div>

<div class="picturetwo">
  <%=image_tag('familytwo.png', :size => '600x300')%>
</div>

<div class="textpositiontwo">
  <h5>The future of smart insurance.</h5>
  Insurance is getting smarter. If you give us your<br>
  consent, we'll share your data with our <br>
  insurance partners<br>
</div>

<div class="alignposition3">
  In the future, this can unlock exlusive savings<br>
  for you.
</div>

<div class="linktexttwo">
  Learn about which data we share > 
</div>
